.contentBox {
    margin: 0 auto;
    width: 80vw;
    height: 100%;

    margin-top: 5vh;

    margin-bottom: 15vh;
}

.hr {
    border: none;
    height: 2px;
    background-color: black;

    margin: 1vh 0;
}