@font-face {
    font-family: 'GmarketSansMedium';
    src: url('../../public/GmarketSansOTF/GmarketSansMedium.otf') format('opentype');
  }

.li {
    display: flex;

    height: 5vh;

    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 5px 0;
    margin-top: -2px;
    padding-bottom: 12px;
}

.li:hover {
    background-color: #AAD4E0;
    transition: 0.5s;
    cursor: pointer;
}

.title {
    flex: var(--title_flex_ratio);
    padding-top: 15px;
    padding-left: 10px;

    font-size: 20px;
    font-family: 'GmarketSansMedium';
}

.writer, .dated, .hit {
    flex: var(--remnant_flex_ratio);
    text-align: center;

    padding-top: 15px;
    padding-left: 5px;

    font-size: 20px;
    font-family: 'GmarketSansMedium';
}