body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --border_primary: solid black;

  --searchBar_border: 2px var(--border_primary);

  --title_flex_ratio: 5;
  --remnant_flex_ratio: 1;

  --qna_board_under_bar_border: 1px var(--border_primary);
}

